# Ignore Visual Studio/IDE files
.vs/
*.vcxproj*
*.suo
*.user
*.filters
*.sln

# Ignore build directories
x64/
bin/
obj/

# Ignore Git metadata folders
.git/

# Ignore system files
*.DS_Store
Thumbs.db
